doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		block content
<<<<<<< HEAD
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
=======
		script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
>>>>>>> efd9469b613e46002f0df24d0920f389c477c0f4
		script(src='/javascripts/global.js')